/.venv/
/.idea/

/data/

/draft/sam_vit_h_4b8939.pth
/draft/normalize/
/draft/aligned/

/DataConverter/.idea/
/DataConverter/out/
/DataConverter/DataConverter.iml

/AndroidApp/ArcheryHelper/.gradle
/AndroidApp/ArcheryHelper/.idea
/AndroidApp/ArcheryHelper/build

/runs
/models

/src/roboflow/archery-1
